*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7498ce;
}

.hidden{
    display: none;
}

/* INÍCIO CSS DO CONTAINER PRINCIPAL */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 650px;
    border: solid 1px grey;
    border-radius: 20px;
    background-color: #fff;
}

.container h1{
  color: #229;
  padding-bottom: 20px;
}

.meuInput{
  padding: 5px 0px;
  text-align: center;
}

.botao{
  padding: 6px;
  color: #fff;
  background-color: #7498ce;
  border: solid 1px #ffffffec;
  border-radius: 2px;
}

.botao:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 5px 1px rgba(101, 92, 177, 0.534);
}

/* FIM CSS DO CONTAINER PRINCIPAL */

/* INÍCIO CSS DO RETORNO */

.dados{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  border: solid 1px #dbd3d3;
}

.dados p{
  font-weight: bold;
  text-decoration: underline;
}

.back{
  padding: 10px 30px;
  color: #fff;
  background-color: #7498ce;
  border: solid 1px #ffffffec;
  border-radius: 2px;
}


/* FIM CSS DO RETORNO */


